body {
    background-color: rgb(48, 133, 55);
    
   }
   h1 {
    text-align: center;
   }
   img {
     border-radius: 50%;
    padding-top: 15px;
    padding-left: 55px ;
   }
   ul {
    text-decoration: none;
    list-style: none;
   }
   ul li{
    display: inline;
    margin: 20px; 
    border-radius: 10px;
    font-size: 30px;
   }
   .listing {
    background-color: #a8325f;
    padding-top: 10px;
    padding-bottom: 2px;
   }
   li a{
    text-decoration:none;
    
   } 
   li a:active, a:hover, a:visited {
    color:rgb(191, 205, 0)
   }
   footer{
    text-align: center;
   }
   @media only screen and (max-width: 600px) {
     main {
       background-color: rgba(168, 66, 66, 0.438);
     }
   }
   